<ion-header>
  <ion-toolbar>
    <ion-title>Modal Header</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="dismiss()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <form [formGroup]="searchForm">
    <ion-item>
      <input
        name="query"
        type="text"
        class="form-control"
        placeholder="Busca una ciudad"
        formControlName="queryControl"
        (keyup)="search()"
      />
    </ion-item>
  </form>
  <div class="city-list" *ngIf="cities.length > 0">
    <div
      class="select-city"
      *ngFor="let city of cities"
      (click)="dismiss(city)"
    >
      {{ city.name }}
    </div>
  </div>
</ion-content>
