<ion-content>
  <div id="container">
    <ion-grid>
      <ion-row>
        <ion-col class="ion-align-self-center" col-8 offset="2">
          <img src="../../../assets/logo/otoro.png" width="70%" height="auto" />
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-12 *ngIf="!showCodeForm">
          <h4 class="no-margin-bottom">Recuperar contrase&ntilde;a</h4>
          <small>Por favor ingresa tu correo electrónico</small><br />
        </ion-col>
        <ion-col col-12 *ngIf="showCodeForm">
          <h4 class="no-margin-bottom">Ingresar c&oacute;digo</h4>
          <small
            >Hemos enviado un código a tu correo, por favor ingresalo para
            recuperar tu contrase&ntilde;a</small
          ><br />
        </ion-col>
      </ion-row>
      <ion-row id="form-container">
        <ion-col col-12>
          <form [formGroup]="myForm" *ngIf="!showCodeForm">
            <div class="form-group">
              <label class="bold">Correo electrónico</label>
              <input
                type="text"
                class="form-control width-100"
                [class.error-input]="controlHasError('email', 'required')"
                formControlName="email"
              />
              <span
                class="error-input-label"
                *ngIf="controlHasError('email', 'required')"
              >
                <strong class="error">Campo requerido</strong>
              </span>
            </div>
            <div class="display-flex" id="btn-container">
              <ion-button
                color="danger"
                (click)="cancel()"
                class="margin-center"
              >
                Cancelar
              </ion-button>
              <ion-button
                color="primary"
                class="margin-center"
                (click)="updateRecoverCode()"
              >
                Enviar
              </ion-button>
            </div>
          </form>
          <form [formGroup]="myCodeForm" *ngIf="showCodeForm">
            <div class="form-group">
              <label class="bold">Código</label>
              <input
                type="text"
                class="form-control width-100"
                [class.error-input]="controlHasError('code', 'required')"
                formControlName="code"
              />
              <span
                class="error-input-label"
                *ngIf="controlHasError('code', 'required')"
              >
                <strong class="error">Campo requerido</strong>
              </span>
            </div>
            <div class="display-flex" id="btn-container">
              <ion-button
                color="danger"
                (click)="cancel()"
                class="margin-center"
              >
                Cancelar
              </ion-button>
              <ion-button
                color="primary"
                class="margin-center"
                (click)="recoverPassword()"
              >
                Validar
              </ion-button>
            </div>
          </form>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
