<ion-header>
  <ion-toolbar>
    <ion-title>Comentarios</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="dismiss()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <div id="comments-container">
    <div *ngFor="let comment of comments" class="comment-section">
      <ion-icon
        name="trash"
        *ngIf="auth && comment.user && auth.id === comment.user.id"
        class="delete-icon"
        (click)="confirmDeletion(comment.id)"
      ></ion-icon>
      <small *ngIf="comment.user" class="user-name">{{
        comment.user.name
      }}</small>
      <p class="comment">{{ comment.comment }}</p>
    </div>
  </div>
  <form [formGroup]="commentForm" id="comment-form">
    <div class="form-group">
      <textarea
        class="form-control width-100"
        formControlName="comment"
      ></textarea>
    </div>
    <ion-button
      color="primary"
      (click)="saveComment()"
      [disabled]="activeButton"
      class="width-100"
    >
      Comentar
    </ion-button>
  </form>
</ion-content>
