<ion-header>
  <ion-toolbar>
    <ion-title>Modal Header</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="dismiss()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <div id="comments-container">
    <div *ngFor="let comment of comments">
      {{ comment.comment }}
      <div class="separator"></div>
    </div>
  </div>
  <form [formGroup]="commentForm" id="comment-form">
    <div class="form-group">
      <textarea
        class="form-control width-100"
        formControlName="comment"
      ></textarea>
    </div>
    <ion-button
      color="primary"
      (click)="saveComment()"
      [disabled]="activeButton"
      class="width-100"
    >
      Comentar
    </ion-button>
  </form>
</ion-content>
