<ion-header>
  <ion-toolbar>
    <ion-title>Detalles</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="dismiss()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <div id="container">
    <h4 class="centered-text">{{ post.title }}</h4>
    <ion-slides [pager]="post.image2 || post.image3">
      <ion-slide>
        <ion-icon name="expand-outline" (click)="openImageModal(1)"></ion-icon>
        <app-image [url]="image1" class="post-image"></app-image>
      </ion-slide>
      <ion-slide *ngIf="post.image2">
        <ion-icon name="expand-outline" (click)="openImageModal(2)"></ion-icon>
        <app-image [url]="image2" class="post-image"></app-image>
      </ion-slide>
      <ion-slide *ngIf="post.image3">
        <ion-icon name="expand-outline" (click)="openImageModal(3)"></ion-icon>
        <app-image [url]="image3" class="post-image"></app-image>
      </ion-slide>
    </ion-slides>
    <p>
      <ion-icon name="person-outline" class="font-bold"></ion-icon>
      {{ post.user.name }}
    </p>
    <div *ngIf="post.type === 1">
      <p>
        <ion-icon name="calendar" class="font-bold"></ion-icon> {{ post.date }}
      </p>
      <p><span class="font-bold">Origen:</span> {{ post.origin.name }}</p>
      <p><span class="font-bold">Destino:</span> {{ post.destination.name }}</p>
    </div>
    <div *ngIf="post.type === 2">
      <p>
        <span><ion-icon name="pricetag"></ion-icon> {{ post.price }}</span>
      </p>
      <p>
        <ion-icon name="location-outline"></ion-icon> {{ post.origin.name }}
      </p>
    </div>
    <p>{{ post.description }}</p>
    <ion-button
      *ngIf="auth && auth.id === post.user.id"
      color="secondary"
      (click)="goToEdit()"
      class="width-100"
    >
      Editar
    </ion-button>
    <ion-button
      *ngIf="auth && auth.id === post.user.id"
      color="danger"
      (click)="confirmDeletion()"
      class="width-100"
    >
      Eliminar
    </ion-button>
  </div>
</ion-content>
