<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ folder }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-fab
    vertical="bottom"
    horizontal="end"
    slot="fixed"
    (click)="goToPostCreation()"
  >
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <h4 class="centered-text">{{title}}</h4>
  <div class="shippings-list" *ngIf="shippings.length > 0">
    <app-post-card
      *ngFor="let shipping of shippings"
      imageSrc="https://construyored.com/assets/img/logo.png"
      [title]="shipping.title"
      [date]="shipping.date"
      type="1"
    ></app-post-card>
  </div>

  <ion-grid id="tabs-container">
    <ion-row>
      <ion-col (click)="getShippings()" col-6 class="centered-text">
        <ion-icon name="send"></ion-icon>
        <ion-label>Envio</ion-label>
      </ion-col>
      <ion-col (click)="getSells()" col-6 class="centered-text">
        <ion-icon name="pricetag"></ion-icon>
        <ion-label>Venta</ion-label>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
