<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ folder }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-fab
    vertical="bottom"
    horizontal="end"
    slot="fixed"
    (click)="goToPostCreation()"
  >
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <h4 class="centered-text">{{title}}</h4>
  <ion-row class="top-tab-container">
    <ion-col [class.active]="activeTab===1" (click)="changeActiveTab(1)"
      ><ion-icon name="send"></ion-icon>&nbsp;<span>Envios</span></ion-col
    >
    <ion-col [class.active]="activeTab===2" (click)="changeActiveTab(2)"
      ><ion-icon name="pricetag"></ion-icon>&nbsp;<span>Ventas</span></ion-col
    >
  </ion-row>
  <div class="posts-list" *ngIf="shippings.length > 0 && activeTab === 1">
    <app-post-card
      *ngFor="let shipping of shippings"
      [imageSrc]="shipping.image1"
      [title]="shipping.title"
      [date]="shipping.date"
      [description]="shipping.description"
      [origin]="shipping.origin"
      [user]="shipping.user"
      [openCommentsModal]="openCommentsModal"
      [openDetailsModal]="openDetailsModal"
      [id]="shipping.id"
      [destination]="shipping.destination"
      [auth]="auth"
      [post]="shipping"
      type="1"
    ></app-post-card>
  </div>
  <div class="posts-list" *ngIf="sells.length > 0 && activeTab === 2">
    <app-post-card
      *ngFor="let sell of sells"
      [imageSrc]="sell.image1"
      [title]="sell.title"
      [price]="sell.price"
      [user]="sell.user"
      [description]="sell.description"
      [openCommentsModal]="openCommentsModal"
      [openDetailsModal]="openDetailsModal"
      [origin]="sell.origin"
      [post]="sell"
      [auth]="auth"
      [id]="sell.id"
      type="2"
    ></app-post-card>
  </div>
</ion-content>
