<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ folder }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-fab
    vertical="bottom"
    horizontal="end"
    slot="fixed"
    (click)="goToPostCreation()"
  >
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <h4 class="centered-text">Todas las publicaciones</h4>
  <form [formGroup]="searchForm">
    <ion-item>
      <input
        name="query"
        type="text"
        class="form-control"
        placeholder="Busca una ciudad"
        formControlName="queryControl"
        (keyup)="search()"
      />
    </ion-item>
  </form>
  <ion-row class="top-tab-container">
    <ion-col (click)="changeActiveTab(1)"><span>Envios</span></ion-col>
    <ion-col (click)="changeActiveTab(2)"><span>Ventas</span></ion-col>
  </ion-row>
  <div class="posts-list" *ngIf="shippings.length > 0 && activeTab === 1">
    <app-post-card
      *ngFor="let shipping of shippings"
      imageSrc="https://construyored.com/assets/img/logo.png"
      [title]="shipping.title"
      [date]="shipping.date"
      type="1"
    ></app-post-card>
  </div>
  <div class="posts-list" *ngIf="sells.length > 0 && activeTab === 2">
    <app-post-card
      *ngFor="let sell of sells"
      imageSrc="https://construyored.com/assets/img/logo.png"
      [title]="sell.title"
      [price]="sell.price"
      type="2"
    ></app-post-card>
  </div>
</ion-content>