<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ folder }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="container">
    <h4 class="centered-text">Que quieres publicar?</h4>
    <ion-row id="form-container">
      <ion-slides>
        <ion-slide>
          <ion-row>
            <ion-col>
              <img [src]="photo1" />
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-button
                color="primary"
                (click)="takePicture(1)"
                class="width-100"
              >
                <ion-icon name="camera"></ion-icon>
              </ion-button>
            </ion-col>
            <ion-col>
              <ion-button
                color="primary"
                (click)="selectPhoto(1)"
                class="width-100"
              >
                <ion-icon name="image-outline"></ion-icon>
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-slide>
        <ion-slide>
          <ion-row>
            <ion-col>
              <img [src]="photo2" />
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-button
                color="primary"
                (click)="takePicture(2)"
                class="width-100"
              >
                <ion-icon name="camera"></ion-icon>
              </ion-button>
            </ion-col>
            <ion-col>
              <ion-button
                color="primary"
                (click)="selectPhoto(2)"
                class="width-100"
              >
                <ion-icon name="image-outline"></ion-icon>
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-slide>
        <ion-slide>
          <ion-row>
            <ion-col>
              <img [src]="photo3" />
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-button
                color="primary"
                (click)="takePicture(3)"
                class="width-100"
              >
                <ion-icon name="camera"></ion-icon>
              </ion-button>
            </ion-col>
            <ion-col>
              <ion-button
                color="primary"
                (click)="selectPhoto(3)"
                class="width-100"
              >
                <ion-icon name="image-outline"></ion-icon>
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-slide>
      </ion-slides>
      <ion-col col-12>
        <form [formGroup]="shippingForm">
          <div class="form-group">
            <label class="bold">T&iacute;tulo</label>
            <input
              type="text"
              class="form-control width-100"
              formControlName="title"
            />
            <span *ngIf="controlHasError('title', 'required')">
              <strong class="error">Campo requerido</strong>
            </span>
          </div>
          <div class="form-group">
            <label class="bold">Descripci&oacute;n</label>
            <textarea
              class="form-control width-100"
              formControlName="description"
            ></textarea>
            <span *ngIf="controlHasError('description', 'required')">
              <strong class="error">Campo requerido</strong>
            </span>
          </div>
          <div class="form-group">
            <ion-item>
              <ion-label class="bold">Selecciona fecha</ion-label>
              <ion-datetime
                id="dynamicDisabled"
                displayFormat="MMMM DD YYYY"
                value="1994-12-15"
                formControlName="date"
              ></ion-datetime>
            </ion-item>
            <span *ngIf="controlHasError('date', 'required')">
              <strong class="error">Campo requerido</strong>
            </span>
          </div>
          <div class="form-group">
            <label class="bold">Origen del envio</label>
            <ion-item (click)="openOriginModal()">
              <span *ngIf="!origin">Selecciona un origen</span>
              <span *ngIf="origin">{{origin.name}}</span>
            </ion-item>
            <input type="text" class="display-none" formControlName="origin" />
            <span *ngIf="controlHasError('origin', 'required')">
              <strong class="error">Selecciona una ciudad</strong>
            </span>
          </div>

          <div class="form-group">
            <label class="bold">Origen del destino</label>
            <ion-item (click)="openDestinationModal()">
              <span *ngIf="!destination">Selecciona un destino</span>
              <span *ngIf="destination">{{destination.name}}</span>
            </ion-item>
            <input
              type="text"
              class="display-none"
              formControlName="destination"
              display="none"
            />
            <span *ngIf="controlHasError('destination', 'required')">
              <strong class="error">Selecciona una ciudad</strong>
            </span>
          </div>
        </form>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-12>
        <ion-button color="primary" (click)="saveShipping()" class="width-100">
          Guardar
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-12>
        <ion-button
          color="danger"
          (click)="goBackToDashboard()"
          class="width-100"
        >
          Cancelar
        </ion-button>
      </ion-col>
    </ion-row>
  </div>
  <ion-grid id="tabs-container">
    <ion-row>
      <ion-col col-6 class="centered-text">
        <ion-icon name="send"></ion-icon>
        <ion-label>Envio</ion-label>
      </ion-col>
      <ion-col (click)="goToSellForm()" col-6 class="centered-text">
        <ion-icon name="pricetag"></ion-icon>
        <ion-label>Venta</ion-label>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
