<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ folder }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="container">
    <h4 class="centered-text top-title">{{title}}</h4>
    <ion-row class="top-tab-container">
      <ion-col class="active"
        ><ion-icon name="send"></ion-icon>&nbsp;<span>Envio</span></ion-col
      >
      <ion-col (click)="goToSellForm()"
        ><ion-icon name="pricetag"></ion-icon>&nbsp;<span>Venta</span></ion-col
      >
    </ion-row>
    <ion-row id="form-container">
      <ion-slides [pager]="true" class="form-images-slider">
        <ion-slide>
          <ion-row>
            <ion-col>
              <img [src]="photo1" />
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-button
                color="primary"
                (click)="takePicture(1)"
                class="width-100"
              >
                <ion-icon name="camera"></ion-icon>
              </ion-button>
            </ion-col>
            <ion-col>
              <ion-button
                color="primary"
                (click)="selectPhoto(1)"
                class="width-100"
              >
                <ion-icon name="image-outline"></ion-icon>
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-slide>
        <ion-slide>
          <ion-row>
            <ion-col>
              <img [src]="photo2" />
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-button
                color="primary"
                (click)="takePicture(2)"
                class="width-100"
              >
                <ion-icon name="camera"></ion-icon>
              </ion-button>
            </ion-col>
            <ion-col>
              <ion-button
                color="primary"
                (click)="selectPhoto(2)"
                class="width-100"
              >
                <ion-icon name="image-outline"></ion-icon>
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-slide>
        <ion-slide>
          <ion-row>
            <ion-col>
              <img [src]="photo3" />
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-button
                color="primary"
                (click)="takePicture(3)"
                class="width-100"
              >
                <ion-icon name="camera"></ion-icon>
              </ion-button>
            </ion-col>
            <ion-col>
              <ion-button
                color="primary"
                (click)="selectPhoto(3)"
                class="width-100"
              >
                <ion-icon name="image-outline"></ion-icon>
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-slide>
      </ion-slides>
      <ion-col col-12>
        <form [formGroup]="shippingForm">
          <div class="form-group">
            <label class="bold">T&iacute;tulo</label>
            <input
              type="text"
              [class.error-input]="controlHasError('title', 'required')"
              class="form-control width-100"
              formControlName="title"
            />
            <span
              class="error-input-label"
              *ngIf="controlHasError('title', 'required')"
            >
              <strong class="error">Campo requerido</strong>
            </span>
          </div>
          <div class="form-group">
            <label class="bold">Descripci&oacute;n</label>
            <textarea
              class="form-control width-100"
              [class.error-input]="controlHasError('description', 'required')"
              formControlName="description"
            ></textarea>
            <span
              class="error-input-label"
              *ngIf="controlHasError('description', 'required')"
            >
              <strong class="error">Campo requerido</strong>
            </span>
          </div>
          <div class="form-group">
            <label class="bold">Fecha del envio</label>
            <ion-item
              class="form-control no-padding-left no-padding-right no-padding-top"
            >
              <ion-datetime
                id="dynamicDisabled"
                displayFormat="MMMM DD YYYY"
                value="1994-12-15"
                formControlName="date"
                monthNames="Enero, Febrero, Marzo, Abril, Mayo, Junio, Julio, Agosto, Septiembre, Octubre, Noviembre, Diciembre"
                monthShortNames="Ene, Feb, Mar, Abr, May, Jun, Jul, Ago, Sep, Oct, Nov, Dic"
              ></ion-datetime>
            </ion-item>
            <span
              class="error-input-label"
              *ngIf="controlHasError('date', 'required')"
            >
              <strong class="error">Campo requerido</strong>
            </span>
          </div>
          <div class="form-group">
            <label class="bold">Origen del envio</label>
            <input
              type="text"
              [class.error-input]="controlHasError('origin', 'required')"
              (click)="openOriginModal()"
              class="form-control width-100"
              formControlName="origin"
            />
            <span
              class="error-input-label"
              *ngIf="controlHasError('origin', 'required')"
            >
              <strong class="error">Selecciona una ciudad</strong>
            </span>
          </div>

          <div class="form-group">
            <label class="bold">Destino del envio</label>
            <input
              type="text"
              [class.error-input]="controlHasError('destination', 'required')"
              (click)="openDestinationModal()"
              class="form-control width-100"
              formControlName="destination"
            />
            <span
              class="error-input-label"
              *ngIf="controlHasError('destination', 'required')"
            >
              <strong class="error">Selecciona una ciudad</strong>
            </span>
          </div>
        </form>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-12>
        <ion-button color="primary" (click)="saveShipping()" class="width-100">
          Guardar
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-12>
        <ion-button
          color="danger"
          (click)="goBackToDashboard()"
          class="width-100"
        >
          Cancelar
        </ion-button>
      </ion-col>
    </ion-row>
  </div>
</ion-content>
